/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    text-align: center;
    padding: 20px;
}

.centered {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}