.style-0 {
    max-width: 1280px;
    margin: 0px auto;
    padding: 32px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    text-align: center;
    box-sizing: border-box;
}

.style-1 {
    margin: 32px 0px;
    padding: 0px;
    box-sizing: border-box;
}

.style-2 {
    font-size: 32px;
    margin-bottom: 16px;
    color: rgb(35, 33, 58);
    padding: 0px;
    margin: 0px 0px 16px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 38.4px;
    margin-top: 0px;
}

.style-3 {
    padding: 0px;
    margin: 0px 0px 16px;
    box-sizing: border-box;
}

.style-4 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-5 {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-6 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin: 19.2px 0px;
    display: flex;
    align-items: stretch;
    padding: 0px;
    box-sizing: border-box;
}

.style-7 {
    padding: 0px 16px;
    font-size: 17.6px;
    font-family: Poppins, sans-serif;
    outline: rgb(35, 33, 58) none 0px;
    border: 1px solid rgb(35, 33, 58);
    color: rgb(35, 33, 58);
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    overflow: visible;
    line-height: 28.16px;
}

.style-8 {
    width: 55px;
    height: 55px;
    font-size: 16px;
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    color: rgb(255, 255, 255);
    border: 0px none rgba(0, 0, 0, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.4s linear 0s;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    outline: rgb(255, 255, 255) none 0px;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0px;
    box-sizing: border-box;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    line-height: 24px;
    appearance: button;
    text-transform: none;
    overflow: visible;
}

.style-9 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 16px;
}

.style-10 {
    transition: opacity 0.2s ease-in-out 0s;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgb(35, 33, 58);
    border-radius: 30%;
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    cursor: pointer;
    outline: rgb(255, 255, 255) none 0px;
    font-size: 16.8px;
    margin: 0px 0px 0px 10px;
    box-sizing: border-box;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0);
    line-height: 25.2px;
    appearance: button;
    text-transform: none;
    overflow: visible;
}

.style-11 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 16.8px;
}

.style-12 {
    display: block;
    margin-top: 64px;
    padding: 0px;
    margin: 64px 0px 0px;
    box-sizing: border-box;
}

.style-13 {
    font-size: 32px;
    margin-bottom: 16px;
    color: rgb(35, 33, 58);
    padding: 0px;
    margin: 0px 0px 16px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 38.4px;
    margin-top: 0px;
}

.style-14 {
    grid-template-columns: 327.328px 327.328px 327.344px;
    display: grid;
    gap: 32px;
    margin: 38.4px 0px;
    padding: 0px;
    box-sizing: border-box;
}

.style-15 {
    margin: 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 4px 21px -12px;
    padding: 0px;
    box-sizing: border-box;
}

.style-16 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-17 {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}

.style-18 {
    padding: 24px 8px;
    margin: 0px;
    box-sizing: border-box;
}

.style-19 {
    font-size: 22.4px;
    padding: 0px;
    margin: 0px 0px 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 26.88px;
    color: rgb(33, 37, 41);
    margin-top: 0px;
}

.style-20 {
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    font-weight: 500;
    font-size: 14.4px;
    padding: 10.4px 0px;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 32px;
    transition: all 0.4s linear 0s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(35, 33, 58);
}

.style-21 {
    margin: 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 4px 21px -12px;
    padding: 0px;
    box-sizing: border-box;
}

.style-22 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-23 {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}

.style-24 {
    padding: 24px 8px;
    margin: 0px;
    box-sizing: border-box;
}

.style-25 {
    font-size: 22.4px;
    padding: 0px;
    margin: 0px 0px 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 26.88px;
    color: rgb(33, 37, 41);
    margin-top: 0px;
}

.style-26 {
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    font-weight: 500;
    font-size: 14.4px;
    padding: 10.4px 0px;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 32px;
    transition: all 0.4s linear 0s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(35, 33, 58);
}

.style-27 {
    margin: 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 4px 21px -12px;
    padding: 0px;
    box-sizing: border-box;
}

.style-28 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-29 {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}

.style-30 {
    padding: 24px 8px;
    margin: 0px;
    box-sizing: border-box;
}

.style-31 {
    font-size: 22.4px;
    padding: 0px;
    margin: 0px 0px 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 26.88px;
    color: rgb(33, 37, 41);
    margin-top: 0px;
}

.style-32 {
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    font-weight: 500;
    font-size: 14.4px;
    padding: 10.4px 0px;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 32px;
    transition: all 0.4s linear 0s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(35, 33, 58);
}

.style-33 {
    margin: 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 4px 21px -12px;
    padding: 0px;
    box-sizing: border-box;
}

.style-34 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-35 {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}

.style-36 {
    padding: 24px 8px;
    margin: 0px;
    box-sizing: border-box;
}

.style-37 {
    font-size: 22.4px;
    padding: 0px;
    margin: 0px 0px 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 26.88px;
    color: rgb(33, 37, 41);
    margin-top: 0px;
}

.style-38 {
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    font-weight: 500;
    font-size: 14.4px;
    padding: 10.4px 0px;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 32px;
    transition: all 0.4s linear 0s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(35, 33, 58);
}

.style-39 {
    margin: 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 4px 21px -12px;
    padding: 0px;
    box-sizing: border-box;
}

.style-40 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-41 {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}

.style-42 {
    padding: 24px 8px;
    margin: 0px;
    box-sizing: border-box;
}

.style-43 {
    font-size: 22.4px;
    padding: 0px;
    margin: 0px 0px 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 26.88px;
    color: rgb(33, 37, 41);
    margin-top: 0px;
}

.style-44 {
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    font-weight: 500;
    font-size: 14.4px;
    padding: 10.4px 0px;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 32px;
    transition: all 0.4s linear 0s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(35, 33, 58);
}

.style-45 {
    margin: 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 4px 21px -12px;
    padding: 0px;
    box-sizing: border-box;
}

.style-46 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-47 {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}

.style-48 {
    padding: 24px 8px;
    margin: 0px;
    box-sizing: border-box;
}

.style-49 {
    font-size: 22.4px;
    padding: 0px;
    margin: 0px 0px 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 26.88px;
    color: rgb(33, 37, 41);
    margin-top: 0px;
}

.style-50 {
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    font-weight: 500;
    font-size: 14.4px;
    padding: 10.4px 0px;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 32px;
    transition: all 0.4s linear 0s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(35, 33, 58);
}

.style-51 {
    margin: 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 4px 21px -12px;
    padding: 0px;
    box-sizing: border-box;
}

.style-52 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-53 {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}

.style-54 {
    padding: 24px 8px;
    margin: 0px;
    box-sizing: border-box;
}

.style-55 {
    font-size: 22.4px;
    padding: 0px;
    margin: 0px 0px 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 26.88px;
    color: rgb(33, 37, 41);
    margin-top: 0px;
}

.style-56 {
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    font-weight: 500;
    font-size: 14.4px;
    padding: 10.4px 0px;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 32px;
    transition: all 0.4s linear 0s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(35, 33, 58);
}

.style-57 {
    margin: 0px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 4px 21px -12px;
    padding: 0px;
    box-sizing: border-box;
}

.style-58 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-59 {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
}

.style-60 {
    padding: 24px 8px;
    margin: 0px;
    box-sizing: border-box;
}

.style-61 {
    font-size: 22.4px;
    padding: 0px;
    margin: 0px 0px 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    line-height: 26.88px;
    color: rgb(33, 37, 41);
    margin-top: 0px;
}

.style-62 {
    text-decoration: none solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    font-weight: 500;
    font-size: 14.4px;
    padding: 10.4px 0px;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 32px;
    transition: all 0.4s linear 0s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(35, 33, 58);
}

.style-63 {
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: none;
    color: rgb(255, 255, 255);
    background: rgb(35, 33, 58) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 16px;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 32px 0px;
    margin: 0px;
    box-sizing: border-box;
}

.style-64 {
    position: absolute;
    right: 32px;
    top: 32px;
    font-size: 28.8px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    outline: rgb(0, 0, 0) none 0px;
    padding: 6px 12px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    line-height: 43.2px;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    appearance: button;
    text-transform: none;
    overflow: visible;
}

.style-65 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    -webkit-font-smoothing: antialiased;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 28.8px;
}

.style-66 {
    margin: 32px;
    z-index: 2;
    padding: 0px;
    box-sizing: border-box;
}

